<strong>好きな曲</strong><br>
<% %><br><br>

<h1>プロフィール</h1>
<strong>アバター</strong>
<% if current_user.avatar.attached? %>
<%= image_tag current_user.avatar %><br><br>
<% end %>
<strong>名前</strong><br>
<%= current_user.name %><br><br>
<strong>年齢</strong><br>
<%= current_user.age %><br><br>

<strong>メールアドレス </strong><br>
<%= current_user.email%><br><br>



